name: PR Title

on:
  pull_request:
    types: [opened, edited, reopened]

jobs:
  pr-title:
    name: Conventional PR Title
    runs-on: ubuntu-latest
    steps:
      - name: Check PR title
        uses: amannn/action-semantic-pull-request@v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            refactor
            test
            docs
            chore
            perf
          requireScope: false
